# Ignore everything
*

# But not these files...
!.gitignore
!script.pl
!template.latex
# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!QuakeDev/id1/Maps/testlevel.map
!QuakeDev/id1/Maps/sealedchurch.map
!*/a/b/c/*
